.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.gitignore
.github

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

**/.DS_Store

*.dSYM

.idea
cmake-build-debug
CMakeLists.txt

*.ini

mygameengine.so
